<%= turbo_frame_tag @user do %>
<div class="stats">
  <span> <%= link_to "Recipes", user_recipes_path(@user) %></span>
  <span> <%= link_to "Followers", followers_user_path(@user) %></span>
  <span> <%= link_to "Following", following_user_path(@user) %></span>
</div>
<div class="row">
  <% if @user.followers.empty? %>
    <p>No followers yet.</p>
  <% else %>
    <% @user.followers.each do |follower| %>
      <div class="col-4">
          <%= link_to user_path(follower.username), "data-turbo-frame": "_top" do  %>
            <div class="recipe-stats">
              <div class="inner">
                <%= profile_image follower %>
              </div>
            </div>
          <% end %>
        </div>        
      </div>
    <% end %>
  <% end %>
</div>
<% end %>