<header class="container-fluid">
  <div class="row profile-header">
    <div class="col-3 profile-image">
      <%= profile_image @user, 200 %>
    </div>
    <div class="col-9 text-left">
      <div class="row">      
        <h1 class="float-left"><%= @user.fullname %></h1>
      </div>
      <div class="row">
        <%= render 'follow_form' if user_signed_in? && current_user.id != @user.id %>
      </div>
      <div class="row">
        <p>Joined <%= @user.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <div class="row">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" if can_edit_profile?(@user.id) %>
      </div>
    </div>
  </div>
</header>

<main>
<%= turbo_frame_tag @user, src: user_recipes_path(@user) do%>
  <div class="stats">
    <span> <%= link_to "Recipes", user_recipes_path(@user), collection: @user.recipes %></span>
    <span> <%= link_to "Followers", followers_user_path(@user), collection: @user.followers %></span>
    <span> <%= link_to "Following", following_user_path(@user), collection: @user.following %></span>
  </div>
<% end %>
</main>