<header>
  <div class="row profile-header">
    <div class="col-6 col-md-3 profile-image">
      <%= profile_image @user %>
    </div>
    <div class="col-6 col-md-9 text-left">
      <div class="row">      
        <h1 class="float-left"><%= @user.fullname %></h1>
      </div>
      <div class="row">
        <p>Joined <%= @user.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <% if user_signed_in? && current_user.id != @user.id %>
        <div class="row">
          <%= render 'follow_form' %>
       </div>
      <% elsif can_edit_profile?(@user.id) %>        
        <div class="row">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<main>
  <%= turbo_frame_tag @user, src: user_recipes_path(@user) do%>
    <%= render "profile_stats" %>
  <% end %>
</main>